<template>
	<div class="">
		<div class="container job-search-container">
			<div class="row justify-content-center">
				<h1 class="text-white font-weight-bold">
					<span style="color: #42b883">BLOG</span>
				</h1>
			</div>
		</div>
		<div class="blog-page">
			<div class="container mb-5">
				<div class="row justify-content-center">
					<div class="col-sm-12 col-md-10 col-lg-10">
						<div class="blog-bar">
							<i class="el-icon-minus"></i>
						</div>
						<VuePerfectScrollbar class="scroll-area" :settings="settings">
							<div v-for="post in posts.data">
								<el-card class="mb-5 blog-card" :body-style="{ padding: '0' }">
								    <img :src="'/images/' + post.image" class="image image-card">
								    <div class="p-3">
								        <div class="mb-2">
								        	<span class="badge badge-pill badge-success">{{ post.category.name }}</span>
								        </div>
								        <h3 class="my-2 blog-title">{{ post.title }}</h3>
								        <div class="bottom clearfix">
								          <p class="blog-content">{{ post.content }}</p>
								          <!-- <time class="time">{{ post.updated_at }}</time> -->
								        </div>
								    </div>
								</el-card>
							</div>
						</VuePerfectScrollbar>
					</div>
				</div>
				<pagination :data="posts" @pagination-change-page="getPosts"></pagination>
			</div>
		</div>
	</div>
	
</template>

<style lang="scss">
.scroll-area {
  position: relative;
  width: 100%;
  height: 100vh;
}
</style> 

<script>
	import VuePerfectScrollbar from 'vue-perfect-scrollbar'
	export default {
		data() {
			return {
				settings: {
			        maxScrollbarLength: 60
			    },
				posts: {},
				categories: null,
			}
		},
		components: {
		    VuePerfectScrollbar
		  },
		methods: {
			getPosts(page) {
				if (typeof page === 'undefined') {
					page = 1;
				}

				axios.get('/posts?page=' + page)
				.then(response => {
					this.posts = response.data;
					if (response.data.length == 0) {
						this.noResult =  true
					}
				})
				.catch(function (error) {
                    console.log(error);
                });
			},
			getCategories() {
				axios.get('/categories')
				.then(response => {
					this.categories = response.data;
					if (response.data.length == 0) {
						this.noResult =  true
					}
				})
				.catch(function (error) {
                    console.log(error);
                });
			}
		},
		mounted() {
			this.getPosts();
            this.getCategories();
		}
	}
</script>