<template>
	<div class="py-4">
		<div class="container">
			<div class="row mb-3">
				<div class="col-8">
					<div class="row mb-3" v-for="post in posts">
						<el-card :body-style="{ padding: '0px' }">
						    <img :src="'/images/' + post.image" class="image blog-image-card">
						    <div style="padding: 14px;">
						        <div class="mb-2">
						        	<span class="badge badge-pill badge-success">{{ post.category.name }}</span>
						        </div>
						        <h3 class="my-2">{{ post.title }}</h3>
						        <div class="bottom clearfix">
						          <p class="text-secondary">{{ post.content | readMore(10, '...') }}</p>
						          <!-- <time class="time">{{ post.updated_at }}</time> -->
						        </div>
						    </div>
						</el-card>
					</div>
				</div>
				<div class="col-4">
				    <!-- Search Widget -->
				    <div class="card custom-card mb-4">
				      <h5 class="card-header bg-color text-white">Search by Title</h5>
				      <div class="card-body">
				          <div class="input-group">
				            <input type="text" id='search' name="search" class="form-control custom-border mr-2" placeholder="Search for..." required>
				            <span class="input-group-btn">
				              <button class="btn btn-success" type="submit"><i class="fas fa-search"></i></button>
				            </span>
				          </div>
				      </div>
				    </div>

				    <!-- Categories Widget -->
				    <div class="card custom-card my-4">
				      <h5 class="card-header bg-color text-white">Categories</h5>
				      <div class="card-body py-2">
				        <ul class="list-unstyled text-white mb-0">
				            <li
				            v-for="category in categories" 
				            class="py-2">
				              	<i class="el-icon-caret-right">{{ category.name }}</i>
				            </li>
				        </ul>
				      </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				posts: '',
				categories: null,
			}
		},
		methods: {
			getPosts() {
				axios.get('/posts')
				.then(response => {
					this.posts = response.data;
					if (response.data.length == 0) {
						this.noResult =  true
					}
				})
				.catch(function (error) {
                    console.log(error);
                });
			},
			getCategories() {
				axios.get('/categories')
				.then(response => {
					this.categories = response.data;
					if (response.data.length == 0) {
						this.noResult =  true
					}
				})
				.catch(function (error) {
                    console.log(error);
                });
			}
		},
		mounted() {
			this.getPosts();
            this.getCategories();
		}
	}
</script>