<template>
	<div class="bg-white px-3 py-3">
		<el-button type="success" class="float-right" @click="categoryForm">
			Add New Category <i class="el-icon-circle-plus"></i>
		</el-button>
		<el-dialog title="New Category" :visible.sync="categoryDialogFormVisible">
		 	<el-form :model="form" ref="form" :rules="rules"  enctype="multipart/form-data">
			    <el-form-item label="Category Name" prop="name" :label-width="formLabelWidth">
			      	<el-input v-model="form.name" autocomplete="off"></el-input>
			    </el-form-item>
			    <el-form-item label="Description" prop="desc" :label-width="formLabelWidth">
			      	<el-input v-model="form.desc" autocomplete="off"></el-input>
			    </el-form-item>
		  	</el-form>
		  	<span slot="footer" class="dialog-footer">
		    	<el-button @click="categoryDialogFormVisible = false">Cancel</el-button>
		    	<el-button type="success" @click="saveCategory('form')">Save</el-button>
		  	</span>
		</el-dialog>
		<el-dialog title="Edit Category" :visible.sync="editCategoryDialogFormVisible">
		 	<el-form :model="form" ref="form" :rules="rules"  enctype="multipart/form-data">
			    <el-form-item label="Category Name" prop="name" :label-width="formLabelWidth">
			      	<el-input v-model="form.name" autocomplete="off">
			      		{{ form.name }}
			      	</el-input>
			    </el-form-item>
			    <el-form-item label="Description" prop="desc" :label-width="formLabelWidth">
			      	<el-input v-model="form.desc" autocomplete="off">
			      		{{ form.desc }}
			      	</el-input>
			    </el-form-item>
		  	</el-form>
		  	<span slot="footer" class="dialog-footer">
		    	<el-button @click="editCategoryDialogFormVisible = false">Cancel</el-button>
		    	<el-button type="success" @click="updateCategory('form', form.id)">Update</el-button>
		  	</span>
		</el-dialog>
		<el-table
			:data="categories.data"
			style="width: 100%"
			:row-class-name="tableRowClassName"
			v-loading="loading"
			:fit="true">
			<el-table-column
		      type="index"
		      width="50">
		    </el-table-column>
		    <el-table-column
		      label="Category Name"
		      prop="name"
		      width="200">
		    </el-table-column>
		    <el-table-column
		      label="Description"
		      prop="description"
		      width="300">
		    </el-table-column>
		    <el-table-column
		      label="Published at"
		      prop="updated_at"
		      width="230">
		    </el-table-column>
		    <el-table-column
		      	align="left"
		      	width="270">
		      	<template slot-scope="scope">
		        	<el-button
		          		size="mini"
		          		type="info"
		          		@click="getCategory(scope.row.id)">Edit</el-button>
		        	<el-button
		          		size="mini"
		          		type="danger"
		          		@click="deleteCategoryModal(scope.row.id)">Delete</el-button>
		      	</template>
		    </el-table-column>
		</el-table>
		<pagination :data="categories" @pagination-change-page="getCategories"></pagination>
	</div>
</template>

<style>
  	.el-table .warning-row {
    	background: oldlace;
  	}

  	.el-table .success-row {
    	background: #f0f9eb;
  	}
</style>

<script>
	export default {
		data() {
			return {
				isCollapse: false,
		        search: '',
	      		loading: false,
	      		categories: {},
				categoryDialogFormVisible: false,
				editCategoryDialogFormVisible: false,
				form: {
					id: '',
	          		name: '',
		          	desc: '',
        		},
       			formLabelWidth: '130px',
       			rules: {
		          	name: [
		            	{ required: true, message: 'Please input Category name', trigger: 'blur' }
		          	],
		          	desc: [
		          		{ required: true, message: 'Please input Description', trigger: 'blur' }
		          	],
		        }
			}
		},
		methods: {
			tableRowClassName({row, rowIndex}) {
		        if (rowIndex === 1) {
		          return 'warning-row';
		        } else if (rowIndex === 3) {
		          return 'success-row';
		        }
		        return '';
		    },
		    categoryForm () {
				this.categoryDialogFormVisible = true;
				this.form.id = '';
				this.form.name = '';
				this.form.desc = '';
			},
            saveCategory(formName) {
				this.$refs[formName].validate((valid) => {
            	    if (valid) {
	    	            axios.post('/categories', {
		                	user_id: this.$auth.user().id,
			                name: this.form.name,
			                description: this.form.desc,
		                })
		                .then(response => {
			                this.$message({
			                	type: 'success',
			                	message: 'Successfully created',
			                });
			            })
			            this.categoryDialogFormVisible = false;
                		this.getCategories();
	    	        } else {
	    	            this.$message({
		                	type: 'warning',
		                	message: 'Please check and input correct fields!',
    	                });
	    	            return false;
	    	        }
            	})
			},
            getCategories(page) {
            	this.loading = true;
            	if (typeof page === 'undefined') {
					page = 1;
				}

				axios.get('/categories?page=' + page)
				.then(response => {
					this.categories = response.data;
					if (response.data.length == 0) {
						this.noResult =  true
					}
				})
				.catch(function (error) {
                    console.log(error);
                });
                this.loading = false;
			},
			getCategory(id) {
				this.editCategoryDialogFormVisible = true;
                
				axios.get('/categories/' + id +'/edit')
				.then(response => {
					this.form.id = id;
					this.form.name = response.data.name;
					this.form.desc = response.data.description;
				});
			},
			updateCategory(formName, id) {
				this.$refs[formName].validate((valid) => {
            	    if (valid) {
	    	            axios.patch('/categories/' + id, {
							name: this.form.name,
							description: this.form.desc
						})
						.then(() => {
				           	this.$message({
				             	type: 'success',
				             	message: 'Changes saved.',
				           	});
			         	})
			            this.editCategoryDialogFormVisible = false;
                		this.getCategories();
	    	        } else {
	    	            this.$message({
		                	type: 'warning',
		                	message: 'Please check and input correct fields!',
    	                });
	    	            return false;
	    	        }
            	})
			},
			deleteCategory(id) {
				axios.delete('/categories/' +id)
				.then(response => {
					this.getCategories();
				})
				.catch (function(error){
					console.log(error);
				})
			},
			deleteCategoryModal(id) {
	            this.$confirm('This will permanently delete the data. Continue?', 'Warning', {
	              	confirmButtonText: 'OK',
	              	cancelButtonText: 'Cancel',
	              	type: 'warning'
	            })
	            .then(() => {
	              	this.$message({
	                	type: 'success',
	                	message: 'Delete completed',
	                	option: this.deleteCategory(id)
	              	});
	            })
	            .catch(() => {
	              	this.$message({
	                	type: 'info',
	                	message: 'Delete canceled'
	            	});          
            	})
            },
		},
		mounted() {
			this.getCategories();
		}
	}
</script>