<template>
	<div>
		<el-table
			:data="categories.data"
			style="width: 100%"
			:row-class-name="tableRowClassName"
			v-loading="loading"
			:fit="true">
			<el-table-column
		      type="index"
		      width="50">
		    </el-table-column>
		    <el-table-column
		      label="Category Name"
		      prop="name"
		      width="200">
		    </el-table-column>
		    <el-table-column
		      label="Description"
		      prop="description"
		      width="300">
		    </el-table-column>
		    <el-table-column
		      label="Published at"
		      prop="updated_at"
		      width="230">
		    </el-table-column>
		    <el-table-column
		      	align="left"
		      	width="300">
		      	<template slot="header" slot-scope="scope">
		        	<el-input
		          	v-model="search"
		          	size="mini"
		          	placeholder="Type to search"/>
		      	</template>
		      	<template slot-scope="scope">
		        	<el-button
		          		size="mini"
		          		type="info"
		          		@click="handleEdit(scope.$index, scope.row)">Edit</el-button>
		        	<el-button
		          		size="mini"
		          		type="danger"
		          		@click="handleDelete(scope.$index, scope.row)">Delete</el-button>
		      	</template>
		    </el-table-column>
		</el-table>
	</div>
</template>

<style>
  	.el-table .warning-row {
    	background: oldlace;
  	}

  	.el-table .success-row {
    	background: #f0f9eb;
  	}
</style>

<script>
  export default {
  		props: [ 'categories', 'loading' ],
	    data() {
	      	return {
	      		isCollapse: false,
		        search: '',
	      	}
	    },
	    methods: {
	    	tableRowClassName({row, rowIndex}) {
		        if (rowIndex === 1) {
		          return 'warning-row';
		        } else if (rowIndex === 3) {
		          return 'success-row';
		        }
		        return '';
		    },
	      	handleEdit(index, row) {
	        	console.log(index, row);
	      	},
	      	handleDelete(index, row) {
	        	console.log(index, row);
	      	}
	    }
  	}
</script>