<template>
	<el-row>
		<el-col :span="4">
		    <el-menu
		      default-active="1"
		      class="el-menu-vertical-demo"
		      background-color="#545c64"
		      text-color="#fff"
		      active-text-color="#42b883">
		      	<router-link class="dashboard-link" :to="{ name : 'PostDashboard'}">
		      		<el-menu-item index="1">
                    	<i class="el-icon-document"></i>
		        		<span class="d-none d-md-inline d-lg-inline">Posts</span>
		      		</el-menu-item>
                </router-link>
		      	<router-link class="dashboard-link" :to="{ name : 'Category'}">
		      		<el-menu-item index="2">
                    	<i class="el-icon-menu"></i>
		        		<span class="d-none d-md-inline d-lg-inline">Categories</span>
		      		</el-menu-item>
                </router-link>
		    </el-menu>
	  	</el-col>
	  	<el-col :span="20">
	  		<div class="container mt-2">
	  			<router-view></router-view>
	  		</div>
	  	</el-col>
	</el-row>
</template>

<script>
export default {
	data() {
		return {
			
		}
	}
	
}
</script>
