<template>
	<section class="error-status d-flex" style="align-items: center">
  	<div class="container">
			<div class="row mt-5">
				<div class="col-md-12 text-left mt-5">
					<div class="d-block mt-5">
						<h1 class="mt-5">OOPS!</h1>
						<p>We are sorry, the page you are looking for cannot be found. Or Something went wrong.</p>
						<router-link :to="{ path: '/' }">
		        			<button class="btn new-btn-bg">Go To Home</button>
		        		</router-link>
					</div>
				</div>
			</div>
			
		</div>
  </section>
</template>