<template>
	<div class="container-fluid bg-white how-it-works">
		<div class="container">	
			<div class="row justify-content-center">
				<div class="col-12 col-md-10">
				    <h1 class="text-center py-3">
						<span style="color: #42b883">HOW IT</span> WORKS
					</h1>
					<el-tabs :tab-position="'top'">
					    <el-tab-pane label="Employer">
					    	<!--first section-->
						    <div class="row align-items-center mt-4">
							    <div class="col-2 col-md-2 col-lg-2 text-center bottom">
							        <div class="circle"><span>1</span></div>
							    </div>
						      	<div class="col-10 col-md-8 col-lg-6">
						        	<h5>Post Your Job</h5>
						        	<p class="mb-0">
						        		It's always free to register and post your project. Just post the detail requirements and descriptions of your project and
						        	</p>
						      	</div>
						    </div>
						    <!--path between 1-2-->
						    <div class="row timeline">
						      	<div class="col-2">
						        	<div class="corner top-right"></div>
						      	</div>
						      	<div class="col-8">
						        	<hr/>
						      	</div>
						      	<div class="col-2">
						        	<div class="corner left-bottom"></div>
						      	</div>
						    </div>
						    <!--second section-->
						    <div class="row align-items-center justify-content-end how-it-works">
						      	<div class="col-10 col-md-8 col-lg-6 text-right">
						        	<h5>Choose & Hire the perfect Student</h5>
						        	<p>
						        		Review and compare job proposals from a variety of freelancers. Select the most suitable one.
						        	</p>
						      	</div>
						      	<div class="col-2 col-md-2 col-lg-2 text-center full">
						        	<div class="circle"><span>2</span></div>
						      	</div>
						    </div>
						    <!--path between 2-3-->
						    <div class="row timeline">
						      	<div class="col-2">
						        	<div class="corner right-bottom"></div>
						     	</div>
						      	<div class="col-8">
						        	<hr/>
						      	</div>
						      	<div class="col-2">
						        	<div class="corner top-left"></div>
						      	</div>
						    </div>
						    <!--third section-->
						    <div class="row align-items-center">
						      	<div class="col-2 col-md-2 col-lg-2 text-center top">
						        	<div class="circle"><span>3</span></div>
						      	</div>
						      	<div class="col-10 col-md-8 col-lg-6">
						        	<h5>Discuss</h5>
						        	<p>You can discuss about the salary and communicate with the student.</p>
						      	</div>
						    </div>
					    </el-tab-pane>
					    <el-tab-pane label="Student">
					    	<!--first section-->
						    <div class="row align-items-center mt-4">
							    <div class="col-2 col-md-2 col-lg-2 text-center bottom">
							        <div class="circle"><span>1</span></div>
							    </div>
						      	<div class="col-10 col-md-8 col-lg-6">
						        	<h5>First Step</h5>
						        	<p>Are you a new user to Chate Sat? If so, sign up and fill cv form of yours. It’s free, always will be! Did you signed up already? Then login your account in order to apply jobs. </p>
						      	</div>
						    </div>
						    <!--path between 1-2-->
						    <div class="row timeline">
						      	<div class="col-2">
						        	<div class="corner top-right"></div>
						      	</div>
						      	<div class="col-8">
						        	<hr/>
						      	</div>
						      	<div class="col-2">
						        	<div class="corner left-bottom"></div>
						      	</div>
						    </div>
						    <!--second section-->
						    <div class="row align-items-center justify-content-end how-it-works">
						      	<div class="col-10 col-md-8 col-lg-6 text-right">
						        	<h5>Apply Now</h5>
						        	<p>Found the right project that fits your skills, and offers? Apply to that project right away.</p>
						      	</div>
						      	<div class="col-2 col-md-2 col-lg-2 text-center full">
						        	<div class="circle"><span>2</span></div>
						      	</div>
						    </div>
						    <!--path between 2-3-->
						    <div class="row timeline">
						      	<div class="col-2">
						        	<div class="corner right-bottom"></div>
						     	</div>
						      	<div class="col-8">
						        	<hr/>
						      	</div>
						      	<div class="col-2">
						        	<div class="corner top-left"></div>
						      	</div>
						    </div>
						    <!--third section-->
						    <div class="row align-items-center">
						      	<div class="col-2 col-md-2 col-lg-2 text-center top">
						        	<div class="circle"><span>3</span></div>
						      	</div>
						      	<div class="col-10 col-md-8 col-lg-6">
						        	<h5>Get Hired</h5>
						        	<p>After applying the job, your employer is going to check and shortlist the candidates.</p>
						      	</div>
						    </div>
					    </el-tab-pane>
					</el-tabs>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				
			}
		}
	}
</script>