<template>
	<div class="text-right">
		<el-button 
	    	size="small"
	    	type="success"
	    	v-if=" user.cvform == 'complete' && user.user_type == 'student' && applyStatus == 'Applied'"
	    	class="btn job-page-btn">
	    	Applied
		</el-button>
		<el-button 
	    	size="small"
	    	type="success"
	    	@click="apply(id)" 
	    	v-if="user.cvform == 'complete' && user.user_type == 'student' && applyStatus == 'Apply Now'"
	    	class="btn job-page-btn">
	    	Apply Now
		</el-button>
	    <router-link :to="{ path : 'cvform'}">
			<el-button 
			size="small" 
			type="success"
			v-if="user.cvform != 'complete' && user.user_type == 'student'"
			class="btn job-page-btn">
		        Apply Now
			</el-button>
		</router-link>
	</div>
</template>

<script>
	export default {
		props : {
			id: {
			},
			is_applied: {
				type: String,
				required: true
			},
			user: {
			}
		},
		data() {
			return {
				applyStatus: '',
			}
		},
		created() {
			this.applyStatus = this.is_applied
		},
		methods: {
			apply(id) {
				axios.post('/applier', {
	                user_id: this.$auth.user().id,
	                job_id: id,
	            })
	            .then(response => {
	            	this.applyStatus = response.data;
	                this.$message({
	                	type: 'success', 	
	                	message: 'Thank for your apply. We will contact you soon.',
	                });
	            });
			},
		},
	}
</script>