<template>
	<div>
		<img :src="image" class="job-bg-image">
		<div class="container my-5">
			<div class="row justify-content-center">
				<div class="col-md-10 mb-5"
					v-loading="loading"
					:key="jobList.id">
					<div class="card-body job-list-card">
					    <h3 class="card-title">
					    	<i class="fas fa-briefcase mr-3"></i>{{ jobList.title }}
					    </h3>
					    <h6 class="text-dark my-3">
					    	<span class="mr-4"><i class="job-page-icon fa fa-bookmark"></i>  {{ jobList.position_type }}</span>
					    	<span class="mr-4"><i class="job-page-icon fa fa-map-marker"></i>  {{ jobList.location }}</span>
					    	<span class="mr-4"><i class="job-page-icon fa fa-money-bill-alt"></i>  {{ jobList.salary }}</span>
					    </h6>
					    <h5 class="text-underline"><u>Description</u></h5>
					    <p class="card-text my-3">{{ jobList.description }}</p>
					    <div v-for="applierlist in applierlists">
					    	<p class="card-text my-3">{{ applierlist.username }}</p>
					    	<p class="card-text my-3">{{ applierlist.email }}</p>
					    </div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</template>

<script>
	import jobImage from "../../../images/job-bg.jpeg"
	
	export default {
		data() {
			return {
				id: this.$route.params.id,
				image: jobImage,
				jobList: [],
				applierlists: [],
				noResult: false,
				loading: false,
				fullscreenLoading: false
			}
		},
		methods: {
			getUserJobs() {
				this.loading = true;
				axios.get( '/job/' + this.id + '/show')
				.then(response => {
					this.jobList = response.data;
					
				})
				.finally(() => this.loading = false)
			},
			getApplierLists() {
				this.loading = true;
				axios.get( '/job/' + this.id + '/show/applierlists')
				.then(response => {
					this.applierlists = response.data;
				})
			}
		},
		mounted() {
			this.getUserJobs();
			this.getApplierLists();
		}
	}
</script>