<template>
	<div>
		<div class="card-body job-list-card">
		    <h3 class="card-title">
		    	<i class="fas fa-briefcase mr-3"></i>{{ jobList.title }}
		    </h3>
		    <h6 class="my-3">
		    	<span class="mr-4"><i class="job-page-icon fa fa-bookmark"></i>  {{ jobList.position_type }}</span>
		    	<span class="mr-4"><i class="job-page-icon fa fa-map-marker"></i>  {{ jobList.location }}</span>
		    	<span class="mr-4"><i class="job-page-icon fa fa-money-bill-alt"></i>  {{ jobList.salary }}</span>
		    </h6>
		    <h5 class="card-desc"><u>Description</u></h5>
		    <p class="card-text my-3">{{ jobList.description }}</p>
		    <div class="text-right">
		    	<el-badge :value="applierlists.length" class="item">
				  	<el-button 
			    		size="small"
			    		type="success" 
			    		:loading="loading"
			    		class="font-weight-bold" 
			    		@click="showApplierCard"> 
			    		Applier List
			    	</el-button>
				</el-badge>
		    	
		    	<el-button size="small" type="primary" class="font-weight-bold ml-2">
		    		<router-link class="job-btn-link"
	        		 :to="{ name : 'EditJob', params: { id: jobList.id} }">
	                    Edit <i class="el-icon-edit"></i>
	                </router-link>
		    	</el-button>
		    	<el-button size="small" type="danger" class="font-weight-bold" @click="handleDelete(jobList.id)">
		    		Delete <i class="el-icon-delete"></i>
		    	</el-button>
		    </div>
		    <div class="col-12 applier-list-card mt-4" v-show="applierCardVisible" v-for="applierlist in applierlists">
		    	<h5>Name: <span class="card-text my-3">{{ applierlist.username }}</span></h5>
		    	<h5>Email: <span class="card-text my-3">{{ applierlist.email }}</span></h5>
		    	<div class="text-right">
		    		<el-button size="mini" type="primary" @click="showCvForm(applierlist.id)">Check CV Form<i class="el-icon-arrow-right el-icon-right"></i></el-button>
		    	</div>
		    </div>
		</div>
	    <el-dialog
		  	title="Student CV Form"
		  	:visible.sync="dialogCvformVisible"
		  	class="applier-cvform"
		  	center>
		  	<table class="table">
		  		<tbody>
		  			<tr>
				      	<td>Name</td>
				      	<td>{{ cvform.name }}</td>
				    </tr>
				    <tr>
				      	<td>Certificate</td>
				      	<td v-if="(cvform.certificate)">{{ cvform.certificate }}</td>
				      	<td v-if="!(cvform.certificate)">-</td>
				    </tr>
				    <tr>
				      	<td>Occupation</td>
				      	<td v-if="(cvform.occupation)">{{ cvform.occupation }}</td>
				      	<td v-if="!(cvform.occupation)">-</td>
				    </tr>
				    <tr>
				      	<td>University</td>
				      	<td  v-if="(cvform.university)">{{ cvform.university }}</td>
				      	<td v-if="!(cvform.university)">-</td>
				    </tr>
				    <tr>
				      	<td>Nrc no</td>
				      	<td>{{ cvform.nrc_no }}</td>
				    </tr>
				    <tr>
				      	<td>Telephone</td>
				      	<td>{{ cvform.telephone }}</td>
				    </tr>
				    <tr>
				      	<td>Address</td>
				      	<td>{{ cvform.address }}</td>
				    </tr>
		  		</tbody>
		  	</table>
		</el-dialog>
	</div>
</template>

<script>
	export default {
		props: ['jobList'],
		data() {
			return {
				cvform: [],
				applierlists: [],
				noResult: false,
				loading: false,
				dialogCvformVisible: false,
				applierCardVisible: false,
			}
		},
		methods: {
			getApplierLists(applier_id) {
				this.loading = true;
				axios.get( '/job/' + applier_id + '/show/applierlists')
				.then(response => {
					this.applierlists = response.data;
				})
				.finally(() => this.loading = false)
			},
			getCvForm(id) {
				axios.get( '/cvform/' + id + '/show')
				.then(response => {
					this.cvform = response.data;
				})
			},
			showApplierCard() {
				this.applierCardVisible = true;
			},
			showCvForm(id) {
				this.dialogCvformVisible =  true;
				this.getCvForm(id);
			},
			handleDelete(id) {
				this.$emit('delete', {
					id : id
				})
			},
		},
		mounted() {
			this.getApplierLists(this.jobList.id);
		}
	}
</script>