<template>
	<el-form :model="jobForm" ref="jobForm" :rules="rules" :label-position="labelPosition" label-width="100px" class="job-form">
	  	<el-form-item label="Job Title" prop="title">
	    	<el-input class="jobFormInput" v-model="jobForm.title" placeholder="Write job title"></el-input>
	  	</el-form-item>
	  	<el-form-item label="Job Category" prop="category">
		    <el-select class="jobFormInput" v-model="jobForm.category" placeholder="Select">
			    <el-option
			      v-for="item in categories"
			      :key="item.id"
			      :label="item.label"
			      :value="item.category">
			    </el-option>
			</el-select>
		</el-form-item>
		<el-form-item label="Salary" prop="salary">
		    <el-select class="jobFormInput" v-model="jobForm.salary" placeholder="Select">
			    <el-option
			      v-for="item in salaries"
			      :key="item.id"
			      :label="item.label"
			      :value="item.salary">
			    </el-option>
			</el-select>
		</el-form-item>
	  	<el-form-item label="Location (Optional)" prop="location">
	    	<el-input class="jobFormInput" v-model="jobForm.location" placeholder="e.g.Yangon"></el-input>
	  	</el-form-item>
	  	<el-form-item label="Position Type" prop="position_type">
		    <el-select class="jobFormInput" v-model="jobForm.position_type" placeholder="Select">
			    <el-option
			      v-for="item in positions"
			      :key="item.id"
			      :label="item.label"
			      :value="item.position">
			    </el-option>
			</el-select>
		</el-form-item>
		<el-form-item label="Gender" prop="gender">
		  	<el-radio v-model="jobForm.gender" label="male">Male</el-radio>
		  	<el-radio v-model="jobForm.gender" label="female">Female</el-radio>
		  	<el-radio v-model="jobForm.gender" label="both">Both</el-radio>
		</el-form-item>
		<el-form-item label="Description" prop="desc">
			<!-- <vue-editor v-model="jobForm.desc"></vue-editor> -->
			<el-input class="jobFormInput"
			  	type="textarea"
			  	:autosize="{ minRows: 3, maxRows: 5}"
			  	placeholder="Description"
			  	v-model="jobForm.desc">
			</el-input>
		</el-form-item>
		<div class="py-3">
			<hr class="mb-5">
			<h3><span style="color: #42b883">Company</span> Details</h3>
		</div>
	  	<el-form-item label="Company" prop="company_name" class="mt-3">
	    	<el-input class="jobFormInput" v-model="jobForm.company_name" placeholder="Write company name"></el-input>
	  	</el-form-item>
	  	<el-form-item label="Company Website">
	    	<el-input class="jobFormInput" v-model="jobForm.company_website" placeholder="https://"></el-input>
	  	</el-form-item>
		<el-form-item class="text-right">
		    <el-button 
		    	size="medium"
		    	type="success"
		    	@click="createForm('jobForm')" 
		    	class="jobPostBtn" round>
		    	Submit Your Job
			</el-button>
		</el-form-item>
	</el-form>
</template>

<script>
	export default {
		data() {
			return {
				labelPosition: 'top',
		        jobForm: {
		          	title: '',
		        	category: null,
		        	salary: '',
		          	location: '',
		          	desc: '',
		        	position_type: null,
		        	gender: '',
		          	company_name: '',
		          	company_website: '',
		        },
		        categories: [
			        {
			          category: 'Food & Service',
			          label: 'Food & Service'
			        }, {
			          category: 'IT & Engineering',
			          label: 'IT & Engineering'
			        }, {
			          category: 'Education/Training',
			          label: 'Education/Training'
			        }, {
			          category: 'Art/Design',
			          label: 'Art/Design'
			        }, {
			          category: 'Sale/Marketing',
			          label: 'Sale/Marketing'
			        }, {
			          category: 'Healthcare',
			          label: 'Healthcare'
			        }
		        ],
		        salaries: [
			        {
			          salary: '0 - 200K',
			          label: '0 - 200K'
			        }, {
			          salary: '200K - 400K',
			          label: '200K - 400K'
			        }, {
			          salary: '400K - 600K',
			          label: '400K - 600K'
			        }, {
			          salary: '600K - 800K',
			          label: '600K - 800K'
			        }, {
			          salary: 'More than 800K',
			          label: 'More than 800K'
			        }
		        ],
		        positions: [
			        {
			          position: 'Full Time',
			          label: 'Full Time'
			        }, {
			          position: 'Part Time',
			          label: 'Part Time'
			        }, {
			          position: 'Intership',
			          label: 'Intership'
			        }
		        ],
		        rules: {
		        	title: [
		            	{ required: true, message: 'Please input Job title', trigger: 'blur' }
		          	],
		          	category: [
		            	{ required: true, message: 'Please select one Category name', trigger: 'blur' }
		          	],
		          	salary: [
		            	{ required: true, message: 'Please select Salary', trigger: 'blur' }
		          	],
		          	location: [
		            	{ required: true, message: 'Please input location', trigger: 'blur' }
		          	],
		          	gender: [
		            	{ required: true, message: 'Please select gender type', trigger: 'blur' }
		          	],
		          	position_type: [
		          		{ required: true, message: 'Please select one Position type from above', trigger: 'blur' }
		          	],
		          	desc: [
		          		{ required: true, message: 'Please input Description', trigger: 'blur' }
		          	],
		        }
			}
		},
		methods: {
			createForm(formName) {
				this.$refs[formName].validate((valid) => {
            	    if (valid) {
	    	            axios.post('/job', {
	    	            	user_id: this.$auth.user().id,
	    	                title: this.jobForm.title,
	    	                category: this.jobForm.category,
	    	                salary: this.jobForm.salary,
	    	                location: this.jobForm.location,
	    	                gender: this.jobForm.gender,
	    	                position_type: this.jobForm.position_type,
	    	                description: this.jobForm.desc,
	    	                company_name: this.jobForm.company_name,
	    	                company_website: this.jobForm.company_website,
	    	            })
	    	            .then(response => {
	    	                this.$message({
			                	type: 'success',
			                	message: 'Successfully created',
	    	                });
	    	                this.$refs[formName].resetFields();
	    	            })
	    	        } else {
	    	            this.$message({
		                	type: 'warning',
		                	message: 'Please check and input correct fields!',
    	                });
	    	            return false;
	    	        }
            	})
			}
		}
	}
</script>