<template>
	<div class="card-body job-list-card">
	    <h3 class="card-title">
	    	<i class="fas fa-briefcase mr-3"></i>{{ jobList.title }}
	    </h3>
	    <h6 class="text-dark my-3">
	    	<span class="mr-4"><i class="job-page-icon fa fa-bookmark"></i>  {{ jobList.position_type }}</span>
	    	<span class="mr-4"><i class="job-page-icon fa fa-map-marker"></i>  {{ jobList.location }}</span>
	    	<span class="mr-4"><i class="job-page-icon fa fa-money-bill-alt"></i>  {{ jobList.salary }}</span>
	    </h6>
	    <h5 class="text-underline"><u>Description</u></h5>
	    <p class="card-text my-3">{{ jobList.description }}</p>
	    <div class="text-right">
	    	<button href="#" class="btn job-page-btn mr-3">View More</button>
	    	<button v-if=" user.cvform == 'complete' && user.user_type == 'student'" class="btn job-page-btn" @click="apply(jobList.id)">
				<span v-if="!(applyStatus)">Apply Now</span>
				<span v-if="(applyStatus)">{{ applyStatus }}</span>
			</button>
			<router-link v-if="user.cvform != 'complete' && user.user_type == 'student'" class="btn job-page-btn" :to="{ path : 'cvform'}">
		        Apply Now
		    </router-link>
	    </div>
	</div>
</template>

<script type="text/javascript">
	import applyButton from "./apply_button.vue"
	export default {
		props: {
			jobList: {
				type: Object,
				required: true
			},
			is_applied : {
                type : String
			}
		},
		data() {
			return {
				applyStatus: '',
				user: '',
			}
		},
		created() {
			this.applyStatus = this.is_applied
		},
		components: {
			'apply-button': applyButton,
		},
		methods: {
			apply(id) {
				axios.post('/applier', {
	                user_id: this.$auth.user().id,
	                job_id: id,
	            })
	            .then(response => {
	            	this.applyStatus = response.data;
	                this.$message({
	                	type: 'success', 	
	                	message: 'Thank for your apply. We will contact you soon.',
	                });
	            })
			},
			getUser() {
				axios.get('/auth/user').then(response => {
					this.user = response.data.data;
				})
			}
		},
		mounted() {
			if ( this.$auth.check() ) {
				this.getUser();
			}
		}
	}
</script>