<template>
	<div>
		<div class="bg-image">
	        <nav id="navigation" :class="{navBgColor: scrollPosition >= 100}" class="position-fixed navbar navbar-expand-lg navbar-light navbar-laravel">
	            <div class="container">
	                <router-link class="navbar-brand" :to="{ path: '/' }">Student Career MM</router-link>
	                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	                	<tasty-burger-button 
				        :type="buttonType" 
				        :active="isActive" 
				        :size="size" 
				        :color="color" 
				        :active-color="activeColor" />
	                </button>

	                <div class="collapse navbar-collapse" id="navbarSupportedContent">
	                    <hr class="mt-0 bg-white">
	                    <!-- Left Side Of Navbar -->
	                    <ul class="navbar-nav ml-auto">
	                    	<li v-if="$auth.check() && $auth.user().user_type == 'admin'"
	                    		class="nav-item mr-2 animate-dropdown">
	                            <router-link class="nav-link" :to="{ name : 'Dashboard'}">
	                            	Dashboard
	                            </router-link>
	                        </li>
	                        <li class="nav-item mr-2">
	                            <a href="#how-it-work" class="nav-link">
						            How it works<i class="far fa-question-circle"></i>
						        </a>
	                        </li>
	                        <li class="nav-item mr-2">
	                            <router-link class="nav-link" :to="{ name : 'JobPage'}">
	                            	Job Page
	                            </router-link>
	                        </li>
	                        <li class="nav-item mr-2">
	                            <router-link class="nav-link text-center" :to="{ name : 'blogPost'}">Blog</router-link>
	                        </li>
	                        <li v-if="!$auth.check()" class="nav-item mr-2">
	                            <router-link class="nav-link" :to="{ name : 'login'}">Sign in</router-link>
	                        </li>
	                        <li v-if="!$auth.check()" class="nav-item mr-2">
	                            <router-link class="nav-link" :to="{ name : 'register'}">Sign up</router-link>
	                        </li>
	                        <li v-if="$auth.check()" class="nav-item mr-2">
	                            <el-dropdown>
								  	<span class="nav-link nav-item el-dropdown-link">
								    	{{ $auth.user().username | capitalize }}<i class="fas fa-caret-down ml-1"></i>
								  	</span>
								  	<el-dropdown-menu slot="dropdown" class="custom-dropdown">
									    <el-dropdown-item  v-if="$auth.user().user_type == 'employer' || $auth.user().user_type == 'admin'">
									    	<router-link class="nav-dropdown-item" :to="{ name : 'JobPost'}">
	                                        Add Job
	                                    </router-link>
									    </el-dropdown-item>
									    <el-dropdown-item v-if="$auth.user().user_type == 'employer' || $auth.user().user_type == 'admin'">
									    	<router-link class="nav-dropdown-item"
	                            		 	:to="{ name : 'UserJoblist', params: { user_id: $auth.user().id} }">
	                                        Manage Job
	                                    </router-link>
									    </el-dropdown-item>
									    <el-dropdown-item v-if="$auth.user().user_type == 'student'">
									    	<router-link 
	                            				v-if="user.cvform == null"
	                            				class="nav-dropdown-item" 
	                            				:to="{ name : 'Cvform'}">
	                                        	CV Form
		                                    </router-link>
		                                    <router-link 
		                                    	v-if="user.cvform == 'complete'"
		                                    	class="nav-dropdown-item" 
		                                    	:to="{ name: 'editCvform', params: {id: $auth.user().id} }">
		                                        Edit CV Form
		                                    </router-link>
									    </el-dropdown-item>
									    <el-dropdown-item >
									    	<a href="#" class="nav-dropdown-item" @click.prevent="logout">Logout</a>
									    </el-dropdown-item>
								  	</el-dropdown-menu>
								</el-dropdown>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </nav>
	    </div>
	    <div class="hero-text">
	    	<h1 class="text-left">Connecting Student <br> and Business to <br> Acclerate Innovation</h1>
	    	<router-link v-if="$auth.user().user_type == 'employer' || $auth.user().user_type == 'admin'" :to="{ name : 'JobPost'}">
                <button class="btn custom-btn new-btn-bg">Post A Job</button>
            </router-link>
            <router-link :to="{ name : 'JobPage'}">
            	<button class="btn custom-btn">Job Page</button>
            </router-link>
	    </div>
	    <div class="text-center arrow">
	        <a href="#how-it-work">
	            <i class="fas fa-chevron-down fa-4x" aria-hidden="true" id="arrow"></i>
	        </a>
	    </div>
	    <div class="polygon">
	    	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
			    <polygon fill="white" points="0,100 100,0 100,100"/>
			</svg>
	    </div>
	    <div id="how-it-work" class="pb-5">
	    	<router-view :user="user"></router-view>
	    </div>
	    <div class="footer">
	    	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
			    <polygon fill="#42b883" points="0,100 0,0 100,100"/>
			</svg>
		    <div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 col-sm-6 col-xs-6 col-12">
						<p class="mb-0 text-white"> &copy; Copyright 2014 2018 | YAIR YINT</p>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6 col-12">
						<ul class="list-inline social-icon">
							<li class="list-inline-item"><i class="fab fa-twitter"></i></li>
							<li class="list-inline-item"><i class="fab fa-facebook-f"></i></li>
							<li class="list-inline-item"><i class="fab fa-skype"></i></li>
							<li class="list-inline-item"><i class="fab fa-behance"></i></li>
							<li class="list-inline-item"><i class="fab fa-linkedin-in"></i></li>
						</ul>
					</div>
				</div>
			</div>
	    </div>
	</div>
</template>

<style type="text/css">
    .el-dropdown {
        font-size: 16px!important;
    }
    .hamburger:hover, .hamburger:focus {
    	opacity: 1;
    }
</style>

<script>
	export default {
		data() {
            return {
            	buttonType: 'spring',
		      	isActive: false,
		      	size: 'm',
		      	color: 'white',
		      	activeColor: 'white',
                username: '',
                scrollPosition: null,
                user: ''
            }
        },
        methods: {
        	getUser() {
				axios.get('/auth/user').then(response => {
					this.user = response.data.data;
				})
			},
            logout() {
                this.$auth.logout({
                	success: function () {
		            	this.$message({
		                	type: 'success',
		                	message: 'User successfully logged out.',
		                });
                	},
                    redirect: '/login',
                    fetchUser: true,
                });
            },
	        updateScroll() {
	      		this.scrollPosition = window.scrollY
	    	}
        },
	  	mounted() {
	    	window.addEventListener('scroll', this.updateScroll);
	    	if ( this.$auth.check() ) {
				this.getUser();
			};
	  	},
	  	destroy() {
		  	window.removeEventListener('scroll', this.updateScroll)
		},
        filters: {
            capitalize: function (value) {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        }
	}
</script>