<template>
	<div>
		<div class="container job-search-container">
			<div class="row justify-content-center">
				<h1 class="text-white font-weight-bold">
					<span style="color: #42b883">FILL</span> CV FORM
				</h1 class="text-white">
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-10 col-sm-12 col-md-12 col-lg-10 job-form-box mb-4">
					<el-steps class="mt-5 my-5" :active="active" finish-status="success">
					  	<el-step title="Step 1"></el-step>
					  	<el-step title="Step 2"></el-step>
					  	<el-step title="Step 3"></el-step>
					</el-steps>

					<el-form :model="cvForm" ref="cvForm" :rules="rules" :label-position="'top'" label-width="100px" class="mt-5 cv-form">
					  	<span v-if="active===1">
					  		<el-form-item label="Full Name" prop="name">
						    	<el-input v-model="cvForm.name" placeholder="Write your full name"></el-input>
						  	</el-form-item>
						  	<el-form-item label="Email" prop="email">
						    	<el-input type="email" v-model="cvForm.email" placeholder="Write your email"></el-input>
						  	</el-form-item>
						  	<el-form-item label="Date of Birth" prop="birth">
						    	<el-date-picker
							  	    v-model="cvForm.birth"
							  	    type="date"
							  	    placeholder="Pick your birth date"
							  	    default-value="2000-10-01">
							  	</el-date-picker>
						  	</el-form-item>
					  	</span>
					  	<span v-if="active===2">
						  	<el-form-item label="NRC no" prop="nrc_no">
						    	<el-input v-model="cvForm.nrc_no" placeholder="Write your nrc no"></el-input>
						  	</el-form-item>
					  		<el-form-item label="Certificate and Degree (if any)" prop="certificate">
						    	<el-input v-model="cvForm.certificate" placeholder="Write your certificate"></el-input>
						  	</el-form-item>
						  	<el-form-item label="Attending University (Subject & Year)" prop="university">
						    	<el-input v-model="cvForm.university" placeholder="Write your university"></el-input>
						  	</el-form-item>
					  	</span>
					  	<span v-if="active===3">
						  	<el-form-item label="Occupation" prop="occupation">
						    	<el-input v-model="cvForm.occupation" placeholder="Write your occupation"></el-input>
						  	</el-form-item>
						  	<el-form-item label="Address" prop="address">
						    	<el-input v-model="cvForm.address" placeholder="Write your address"></el-input>
						  	</el-form-item>
					  		<el-form-item label="Telephone No:" prop="telephone">
						    	<el-input type="number" v-model="cvForm.telephone" placeholder="Write your telephone"></el-input>
						  	</el-form-item>
					  	</span>

						<el-button type="default" @click="previous" v-if="active > 1">
							<i class="el-icon-caret-left"></i> Previous 
						</el-button>
						<el-button type="default" @click="next" class="float-right" v-if="active!=3">
							Next <i class="el-icon-caret-right"></i>
						</el-button>
						<el-button @click="createForm('cvForm')" class="float-right btn btn-save" v-if="active===3">
							Save
						</el-button>
					</el-form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
  	export default {
	    data() {
	      	return {
	        	active: 1,
	        	cvForm: {
	        		name: '',
	        		email: '',
	        		birth: '',
	        		nrc_no: '',
	        		certificate: '',
	        		university: '',
	        		occupation: '',
	        		address: '',
	        		telephone: '',
	        	},
	        	user: '',
	        	rules: {
		        	name: [
		            	{ required: true, message: 'Please input your name', trigger: 'blur' }
		          	],
		          	email: [
                        { required: true, message: 'Please input email address', trigger: ['blur', 'change'] },
                        { type: 'email', message: 'Please input correct email address', trigger: ['blur', 'change'] }
                    ],
		          	birth: [
		            	{ required: true, message: 'Please input your date of birth', trigger: 'blur' }
		          	],
		          	nrc_no: [
		            	{ required: true, message: 'Please input your nrc no', trigger: 'blur' }
		          	],
		          	address: [
		            	{ required: true, message: 'Please input your address', trigger: 'blur' }
		          	],
		          	telephone: [
		            	{ required: true, message: 'Please input your telephone number', trigger: 'blur' }
		          	],
		        }
	      	};
	    },

	    methods: {
	      	next() {
	        	if (this.active++ > 2) this.active = 1;
	      	},
	      	previous() {
	        	this.active--;
	      	},
	      	getUser() {
				axios.get('/auth/user').then(response => {
					this.user = response.data.data;
				})
			},
			createForm(formName) {
				this.$refs[formName].validate((valid) => {
            	    if (valid) {
	    	            axios.post('/cvform', {
	    	                user_id: this.$auth.user().id,
	    	            	name: this.cvForm.name,
	    	                email: this.cvForm.email,
	    	                birth: this.cvForm.birth,
	    	                nrc_no: this.cvForm.nrc_no,
	    	                certificate: this.cvForm.certificate,
	    	                university: this.cvForm.university,
	    	                occupation: this.cvForm.occupation,
	    	                address: this.cvForm.address,
	    	                telephone: this.cvForm.telephone,
	    	            })
	    	            .then(response => {
	    	                this.$message({
			                	type: 'success',
			                	message: 'Successfully created',
	    	                });
	    	                this.$refs[formName].resetFields();
	    	                if (response.status == '200') {
						       this.$router.push('/');
						    };
	    	            })
	    	        } else {
	    	            this.$message({
		                	type: 'warning',
		                	message: 'Please check and input correct fields!',
    	                });
	    	            return false;
	    	        }
            	});
            	this.getUser();
            }
	    }
  	}
</script>